/* Stylesheet by Alex Larson, 2023 */
/*Add CSS styles here*/

.popup {
    /*background-image: linear-gradient(25deg, #045b8dad, #74a9cfb4, #74a9cfb4, #045b8dad), url('https://img.freepik.com/free-vector/blue-smooth-flowing-dynamic-wave-background_1017-33405.jpg');*/
    box-shadow: inset 0 0 0 1000px #20b2abe7;
    background: url(https://static.vecteezy.com/system/resources/previews/009/013/628/original/shark-silhouette-set-of-sharks-collection-of-silhouettes-of-predatory-swimming-marine-fish-free-vector.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 750px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    z-index: 10000000;
    color: #ffffff;
    text-shadow: 0.75px 0.75px #272727;
    border-width: 2px;
    border-style: solid;
    border-color: #272727;
}

#letsGo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}

#close {
    color: #006993;
    font-size: 40px;
}

#close:hover {
    color: white;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p {
    font-size: 20px;
    text-align: justify;
    margin: 20px 0;
}

e {
    display: block;
    width: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #006993;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 3px;
}

e:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #b0d8f0;
    background-color: #74a9cf;
    color: #045a8d;
    text-shadow: .75px .75px #3f3f3fa4
}

a:link{
    color:#006993;
  }
  a:visited{
    color:#006993;
  }
  a:hover{
    color:skyblue;
  }
  a:focus{
    color:#006993;
  }
  a:active{
    color:white;
  }

#myModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

#map {
    height: 87.5vh;
    width: 99%;
    display: inline-block;
    margin-right: 10px;
    border-radius: 15px;
    z-index: 1;
    margin-top: 2vh;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2vh;
    border-width: 2px;
    border-style: solid;
    border-color: #272727;
}

#title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: 400;
    margin-right: 5px;
    text-align: center;
}

.info {
    padding: 6px 15px;
    font: 14px/16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: fit-content;
    height: 170px;
    bottom: 40px;
    left: 35px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info h6 {
    font-size: 14pt;
    color: #777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#left-panel {
    width: fit-content;
    height: fit-content;
    background-image: radial-gradient(#006993, #0d869d, #20b2ab);
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    text-align: left;
    line-height: 10px;
    margin-left: 5px;
    margin-right: 10px;
    position: absolute;
    top: 100px;
    left: 30px;
    z-index: 10;
}

.resetButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #045a8d;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 250px;
    height: 40px;
}

.resetButton:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px rgb(255, 255, 255);
    background-color: #74a9cf;
    color: #045a8d;
    text-shadow: .75px .75px #3f3f3fa4
}

.info {
    font: 14px/16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 50px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info h6 {
    font-size: 14pt;
    color: #777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}